In [1]:
import re
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv('movies.csv')
df.describe()

             movieId
count   27278.000000
mean    59855.480570
std     44429.314697
min         1.000000
25%      6931.250000
50%     68068.000000
75%    100293.250000
max    131262.000000

In [3]:
df['title'] = [title.lower()for title in df['title']]
df['title'] = [re.sub('\([0-9]{4}\)', '',  title) for title in df['title']]
df.head()

,movieId,title,genres
0,1,toy story,Adventure|Animation|Children|Comedy|Fantasy
1,2,jumanji,Adventure|Children|Fantasy
2,3,grumpier old men,Comedy|Romance
3,4,waiting to exhale,Comedy|Drama|Romance
4,5,father of the bride part ii,Comedy

In [4]:
def getDtm(textList):
    vect = CountVectorizer(ngram_range=(1,1))
    vect.fit(textList)
    return vect.transform(textList)

In [5]:
def getM(textList, query):
    vect = CountVectorizer(ngram_range=(1,1))
    vect.fit(textList)
    return vect.transform(query)

In [6]:
def getQ(textList, m, query, c=2):
    sumM = getSumM(textList, query)
    
    alpha = c*m
    alphaL = alpha + sumM
    beta = c*(1-m)
    betaL = beta + len(textList) - sumM
    
    a = np.log(alphaL)
    a2 = np.log(alpha)
    b = np.log(betaL)
    b2 = np.log(beta)
    
    return a-a2-b+b2

In [7]:
query = ['toy sotry', 'old men']
dtm = getDtm(df['title'])
dtm.shape

(27278, 21887)

In [8]:
x = getM(df['title'], query)
x.todense()
x.shape

(2, 21887)

In [9]:
alpha = 2*np.mean(dtm, axis=0)
beta = 2*(1-np.mean(dtm, axis=0))
beta.shape

(1, 21887)

In [10]:
alphaL = alpha + x.sum(axis=0)
betaL = beta + len(query) - x.sum(axis=0)
betaL.shape

(1, 21887)

In [11]:
q = np.log(alphaL) - np.log(alpha) - np.log(betaL) + np.log(beta)
q.shape

(1, 21887)

In [12]:
nc = np.log(alpha + beta) - np.log(alpha + beta + len(query)) + np.log(betaL) - np.log(beta)
nc
nc.sum(axis=0)

matrix([[3.30099583e-04, 1.83302936e-05, 1.83302936e-05, ...,
         1.83302936e-05, 1.83302936e-05, 1.83302936e-05]])

In [13]:
nc

matrix([[3.30099583e-04, 1.83302936e-05, 1.83302936e-05, ...,
         1.83302936e-05, 1.83302936e-05, 1.83302936e-05]])

In [14]:
dtm.shape

(27278, 21887)

In [16]:
escore = dtm*q.transpose()
escore

matrix([[ 5.77931536],
        [-0.69316551],
        [ 8.74296626],
        ...,
        [-1.62229935],
        [-1.38633102],
        [-0.69338555]])

In [29]:
df['score'] = escore
df.sort_values(by=['score'], ascending=False)

,movieId,title,genres,score
2,3,grumpier old men,Comedy|Romance,8.742966
3361,3450,grumpy old men,Comedy,8.742948
12216,55820,no country for old men,Crime|Drama,7.343357
19186,95446,tin toy,Animation|Children,5.783654
5744,5843,toy soldiers,Action|Drama,5.783635
3027,3114,toy story 2,Adventure|Animation|Children|Comedy|Fantasy,5.779315
15401,78499,toy story 3,Adventure|Animation|Children|Comedy|Fantasy|IMAX,5.779315
0,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,5.779315
4833,4929,"toy, the",Comedy,5.548199
21772,105271,"gathering of old men, a (murder on the bayou)",Drama,4.968993
11245,47601,7 men from now (seven men from now),Western,4.900182
15773,80141,"christmas toy, the",Children|Musical,4.853011
9298,27357,old men in new cars (gamle mænd i nye biler),Action|Comedy,4.561158
993,1012,old yeller,Children|Drama,4.553783
7383,7582,old acquaintance,Drama,4.553783
4536,4631,old gringo,Drama,4.553764
11555,50259,old joy,Drama,4.553526
14523,72696,old dogs,Comedy,4.553251
6089,6188,old school,Comedy,4.553049
9476,27773,old boy,Mystery|Thriller,4.552092
21981,106022,toy story of terror,Animation|Children|Comedy,4.328293
3702,3793,x-men,Action|Adventure|Sci-Fi,4.189184
11231,47484,g men,Crime|Drama,4.189184
1131,1154,t-men,Film-Noir,4.189184
16216,81981,"toy, the (le jouet)",Comedy,4.157755
8358,25760,old san francisco,Drama|Romance,3.860012
14588,72960,nasty old people,Drama,3.859166
1426,1463,that old feeling,Comedy|Romance,3.858577
24097,114250,my old lady,Comedy|Drama,3.853006
17443,87954,in old arizona,Romance|Western,3.840064
...,...,...,...,...
19304,95963,dragon ball z: wrath of the dragon (doragon bô...,Action|Adventure|Animation,-12.088660
19316,96004,dragon ball z: the history of trunks (doragon ...,Action|Adventure|Animation,-12.105926
5445,5542,nightmare city (a.k.a. city of the walking dea...,Action|Horror,-12.109161
22333,107306,gurren lagann: the lights in the sky are stars...,Adventure|Animation|Drama|Sci-Fi|War,-12.279056
23299,110873,centenarian who climbed out the window and van...,Adventure|Comedy|Drama,-12.280853
20571,100721,black magic rites & the secret orgies of the 1...,Horror,-12.324489
8464,25901,henry v (chronicle history of king henry the f...,Drama|War,-12.352196
4960,5056,"enigma of kaspar hauser, the (a.k.a. mystery o...",Crime|Drama,-12.384216
23559,112179,"sudden wealth of the poor people of kombach, t...",Drama,-12.388223
14847,74327,"first day of the rest of your life, the (le pr...",Comedy|Drama,-12.407836
6159,6258,"dames du bois de boulogne, les (ladies of the ...",Drama|Romance,-12.638861
9198,27103,strange behaviour of sexually mature city slic...,Comedy|Romance,-12.784691
2605,2691,"legend of 1900, the (a.k.a. the legend of the ...",Drama,-12.865016
23319,111031,manufacturing reality: slavoj zizek and the re...,Documentary,-12.875520
20052,98829,"evil cult, the (lord of the wu tang) (yi tian ...",Action|Fantasy,-13.017186
14863,74438,legend of the red dragon (a.k.a. new legend of...,Action|Adventure|Comedy|Drama|Romance,-13.086312
7309,7422,"love and anarchy (film d'amore e d'anarchia, o...",Comedy|Drama|Romance,-13.221802
14375,72001,extraordinary adventures of mr. west in the la...,Comedy,-13.337652
22173,106702,"strange case of dr. jekyll and miss osbourne, ...",Horror,-13.522508
15495,78965,puppetry of the penis: live at the forum (pupp...,Comedy|Documentary,-13.617259
24273,115042,more about the children of noisy village (a.k....,Children,-13.776331
7706,8224,dexter the dragon & bumble the bear (a.k.a. dr...,Animation|Children|Fantasy,-13.885489
20950,102284,"henry iv, part i (first part of king henry the...",Drama,-14.738878
6127,6226,"lost honor of katharina blum, the (verlorene e...",Drama,-14.862836
19305,95965,dragon ball z: bardock - the father of goku (d...,Action|Adventure|Animation,-14.871963
9271,27307,night of the day of the dawn of the son of the...,Comedy|Horror,-14.980313
14135,70927,to each his own cinema (chacun son cinéma ou c...,Comedy|Drama,-15.975784
19144,95165,dragon ball z the movie: the world's strongest...,Action|Adventure|Animation|Sci-Fi|Thriller,-16.927850
20957,102305,"henry iv, part ii (second part of king henry t...",Drama,-17.051305
9337,27455,"godzilla, mothra, and king ghidorah: giant mon...",Action|Fantasy|Sci-Fi,-18.083410

In [27]:
pd.DataFrame.sort_values?